mixin examples()
  .examples#examples 
    h2.examples__title Примеры Наших Работ
    .examples__body.container 
      .examples__item 
        img(src="images/examples.webp", alt="").examples__item-img
        .examples__item-row
          .examples__item-col   
            img(src="images/object.svg", alt="").examples__item-col-img
            .examples__item-col-content 
              p.examples__item-title Объект
              p.examples__item-p МКД, дореволюционной постройки, общая площадь 6 316,5 кв. м.
          .examples__item-col   
            img(src="images/location.svg", alt="").examples__item-col-img
            .examples__item-col-content 
              p.examples__item-title Адрес
              p.examples__item-p МКД, дореволюционной постройки, общая площадь 6 316,5 кв. м.
          .examples__item-col   
            img(src="images/dollar.svg", alt="").examples__item-col-img
            .examples__item-col-content 
              p.examples__item-title Экономический эффект за отопительный период:
              p.examples__item-p МКД, дореволюционной постройки, общая площадь 6 316,5 кв. м.
      .examples__item 
        img(src="images/examples.webp", alt="").examples__item-img
        .examples__item-row
          .examples__item-col   
            img(src="images/object.svg", alt="").examples__item-col-img
            .examples__item-col-content 
              p.examples__item-title Объект
              p.examples__item-p МКД, дореволюционной постройки, общая площадь 6 316,5 кв. м.
          .examples__item-col   
            img(src="images/location.svg", alt="").examples__item-col-img
            .examples__item-col-content 
              p.examples__item-title Адрес
              p.examples__item-p МКД, дореволюционной постройки, общая площадь 6 316,5 кв. м.
          .examples__item-col   
            img(src="images/dollar.svg", alt="").examples__item-col-img
            .examples__item-col-content 
              p.examples__item-title Экономический эффект за отопительный период:
              p.examples__item-p МКД, дореволюционной постройки, общая площадь 6 316,5 кв. м.
      .examples__item 
        img(src="images/examples.webp", alt="").examples__item-img
        .examples__item-row
          .examples__item-col   
            img(src="images/object.svg", alt="").examples__item-col-img
            .examples__item-col-content 
              p.examples__item-title Объект
              p.examples__item-p МКД, дореволюционной постройки, общая площадь 6 316,5 кв. м.
          .examples__item-col   
            img(src="images/location.svg", alt="").examples__item-col-img
            .examples__item-col-content 
              p.examples__item-title Адрес
              p.examples__item-p МКД, дореволюционной постройки, общая площадь 6 316,5 кв. м.
          .examples__item-col   
            img(src="images/dollar.svg", alt="").examples__item-col-img
            .examples__item-col-content 
              p.examples__item-title Экономический эффект за отопительный период:
              p.examples__item-p МКД, дореволюционной постройки, общая площадь 6 316,5 кв. м.
