mixin form()
  .form#form
      form(action="").form__body
        h2.form__title Успей получить расчет вашей возможной экономи бесплатно
        input(type="text" placeholder="Имя").form__input
        input(type="tel" placeholder="Телефон").form__input
        input(type="email" placeholder="E-mail").form__input
        button(type="submit").form__btn Хочу начать экономить
        p.form__p Отправляя данную форму, вы даете согласие на обработку ваших персональных данных согласно нашей <a href="#!">политики конфиденциальности</a>