mixin intro()
  .intro
    .intro__body.container
      h2.intro__title Смарт Система Энергосбережения
      p.intro__p Цифровизация в теплоснабжении и инновационный подход к теплопотреблению. Успейте получить расчет Вашей возможной экономии бесплатно. 
      button(type="button" onclick="openPopup()").intro__btn Получить бесплатно 
  .intro__row#advantages
    .intro__row-body.container
      .intro__row-item
        p.intro__row-title Технология модернизации ИТП разработана для Вас, если:
        .intro__row-row
          .intro__row-image
            img(src="images/intro-row-1.svg", alt="").intro__row-img
          p.intro__row-p Вы все еще переплачиваете за отпление
        .intro__row-row
          .intro__row-image
            img(src="images/intro-row-2.svg", alt="").intro__row-img
          p.intro__row-p Живете в многоквартирном доме советского периода постройки
        .intro__row-row
          .intro__row-image
            img(src="images/intro-row-3.svg", alt="").intro__row-img
          p.intro__row-p Ваш дом оборудован ИТП с элеваторным присоелинением и узлом учета тепловой энергии
      .intro__row-item
        p.intro__row-title Техника экономии:
        .intro__row-row
          .intro__row-image
            img(src="images/intro-row-1.svg", alt="").intro__row-img
          p.intro__row-p Модернизация существующего элеваторного узла с сохранением всех его преимуществ
        .intro__row-row
          .intro__row-image
            img(src="images/intro-row-2.svg", alt="").intro__row-img
          p.intro__row-p Автоматическое регулирование режимами теплопотребления в ИТП здания в зависимости от температуры наружного воздуха
        .intro__row-row
          .intro__row-image
            img(src="images/intro-row-3.svg", alt="").intro__row-img
          p.intro__row-p Технология запатентована, сертифицирована
      .intro__row-item
        p.intro__row-title Результат:
        .intro__row-row
          .intro__row-image
            img(src="images/intro-row-1.svg", alt="").intro__row-img
          p.intro__row-p Снижение платежей за отопление до 40% в месяц
        .intro__row-row
          .intro__row-image
            img(src="images/intro-row-2.svg", alt="").intro__row-img
          p.intro__row-p Исключение "перетопов"
        .intro__row-row
          .intro__row-image
            img(src="images/intro-row-3.svg", alt="").intro__row-img
          p.intro__row-p Повышение комфорта проживания