mixin recomendation()
  .recomendation#recomendation
    h2.recomendation__title Наши Рекомендации
    .recomendation__body.container
      .recomendation__item 
        img(src="images/recomendation-1.png", alt="").recomendation__item-img
      .recomendation__item 
        img(src="images/recomendation-2.png", alt="").recomendation__item-img
      .recomendation__item 
        img(src="images/recomendation-3.png", alt="").recomendation__item-img
      .recomendation__item 
        img(src="images/recomendation-4.png", alt="").recomendation__item-img
      .recomendation__item 
        img(src="images/recomendation-5.png", alt="").recomendation__item-img
      .recomendation__item 
        img(src="images/recomendation-6.png", alt="").recomendation__item-img
