mixin recomendation()
  .recomendation#recomendation
    h2.recomendation__title Наши Рекомендации
    .recomendation__body.container
      .recomendation__item 
        img(src="images/recomendation-1.webp", alt="").recomendation__item-img
      .recomendation__item 
        img(src="images/recomendation-2.webp", alt="").recomendation__item-img
      .recomendation__item 
        img(src="images/recomendation-3.webp", alt="").recomendation__item-img
      .recomendation__item 
        img(src="images/recomendation-4.webp", alt="").recomendation__item-img
      .recomendation__item 
        img(src="images/recomendation-5.webp", alt="").recomendation__item-img
      .recomendation__item 
        img(src="images/recomendation-6.webp", alt="").recomendation__item-img
