mixin srok()
  .srok
    .srok__body.container
      h2.srok__title Срок реализации «под ключ»: 2-3 МЕСЯЦА
      .srok__row 
        .srok__item
          .srok__image
            img(src="images/srok-1.svg", alt="").srok__img
          p.srok__p Проектирование
        .srok__item
          .srok__image
            img(src="images/srok-2.svg", alt="").srok__img
          p.srok__p Согласование
        .srok__item
          .srok__image
            img(src="images/srok-3.svg", alt="").srok__img
          p.srok__p Монтаж
        .srok__item
          .srok__image
            img(src="images/srok-4.svg", alt="").srok__img
          p.srok__p Обслуживание
      h2.srok__title.max Ответьте на несколько вопросов и получите профессиональную консультацию по их решению
      button(type="button" onclick="openPopup()").srok__btn Получить бесплатно 